<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <bean id="examDao" class="com.dao.impl.ExamDaoMysqlImpl" scope="singleton"/>
        
        <bean id="examService" class="com.service.impl.ExamServiceImpl" scope="prototype">
        	<constructor-arg name="examDao" ref="examDao" index="1"></constructor-arg>
        	<constructor-arg name="type" value="abc" index="2"></constructor-arg>
        	<constructor-arg name="name" value="xyz" index="3" type="String"></constructor-arg>
        </bean>
        ExamDao examDao=new ExamServiceImpl(examDao);
        
        <bean id="technologyService" class="com.service.impl.TechnologyServiceImpl" scope="prototype">
        	<property name="examDao" ref="examDao"></property>
        </bean>
        <bean id="accountFactory" class="AccountFactory">
        
        <bean id="account" factory-bean="accountFactory" factory-method="getAccount" scope="prot">
        	<constructor-arg name="accountType" value="Checking"></constructor-arg>
        </bean>
       	 
        
        
 </beans>